/***** tab-list *****/
.tab-list li {
	display: inline-block;
	list-style-type: none;
	background-color: #303030;
	border-bottom: 3px solid #fff;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.tab-list li a {
	color: #f2f2f2;
	display: block;
	padding: 5px 10px;
}

.tab-list li.active{
	background-color: #fff;
	border-bottom: 3px solid #fff;
}

.tab-list li.active a {
	color: #666;
	background-color: #fff;
}

/***** panels *****/
.tab-panel {
	display: none;
	background-color: #fff;
	color: #666;
	height: 150px;
	overflow: hidden;
}

.tab-panel.active {
	display: block;
}

.tab-panel p {
	margin: 20px;
}